{{!< default}}

{{^is "paged"}}
    <div class="home-header">
        <h1>{{author.name}}</h1>
        <h2>
            {{#if author.bio}}
                {{author.bio}}
            {{else}}
                This author has written {{plural pagination.total empty="no posts" singular="1 post" plural="% posts"}}
            {{/if}}
        </h2>
    </div>
{{/is}}

<div id="content" class="content" role="main">

    {{> "loop"}}

</div>