{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="home-header">
    <h1>{{tag.name}}</h1>
    <h2>
        {{#if tag.description}}
            {{tag.description}}
        {{else}}
            A {{pagination.total}}-post collection
        {{/if}}
    </h2>
</div>

{{! The main content area on the homepage }}
<div id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</div>