{{!< default}}

{{!-- Only show the tag header on the first page --}}
{{^is "paged"}}
    <div class="home-header">
        <h1>{{tag.name}}</h1>
        <h2>
            {{#if tag.description}}
                {{tag.description}}
            {{else}}
                A {{pagination.total}}-post collection
            {{/if}}
        </h2>
    </div>
{{/is}}

<div id="content" class="content" role="main">

    {{> "loop"}}

</div>