.home-header {
    max-width: 540px;
    text-align: center;

    @media (max-width: ($content_width + 199)) {
        margin: 100px auto;
    }
    @media (min-width: ($content_width + 200)) {
        margin: 160px auto;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.3;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.7;
        color: $grey;
        margin-top: 0;
    }
}