main {
    padding: 0 15px;
}

//
// Angle Header & Footer Bars
// --------------------------------------------------

.site-header .angle,
.site-footer .angle {
    position: relative;
    overflow: hidden;
    display: block;
    height: 44px;

    &:before {
        content: '';
        height: 50px;
        transform: rotate(2deg);
        position: absolute;
        background: $accent;
        left: -20px;
        right: -20px;
    }
}

.site-header .angle:before {
    top: -26px;
}

.site-footer .angle:before {
    top: 20px;
}

.site-footer {
    .wrapper {
        padding-top: 20px;
        // margin: 0 50px 40px;

        @media (max-width: ($content_width + 199)) {
            margin: 0 20px 40px;
        }
        @media (min-width: ($content_width + 200)) {
            margin: 0 50px 40px;
        }

        border-top: 1px solid $grey_light;
        line-height: 1;
    }

    a {
        &:link,
        &:visited {
            color: $black;
        }

        &:active,
        &:focus,
        &:hover {
            color: $accent_dark;
        }
    }

    .copyright {
        font-size: 1.4rem;
    }

    .poweredby {
        font-size: 1.2rem;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}