main {
    padding: 0 15px;
}


//
// Header & Footer borders
// --------------------------------------------------

.site-header {
    border-top: 8px solid $accent;
}

.site-footer {
    border-bottom: 16px solid $accent;
}


//
// Utilities
// --------------------------------------------------

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}