main {
    padding: 0 15px;
}

//
// Angle Header & Footer Bars
// --------------------------------------------------

.site-header .angle,
.site-footer .angle {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

.site-header .angle {
    border-width: 0 100vw 40px 0;
    border-color: transparent $accent transparent transparent;
    padding-top: 5px;
}

.site-footer .angle {
    border-width: 45px 0 0 100vw;
    border-color: transparent transparent transparent $accent;
    padding-bottom: 5px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}