//
// Base type
// --------------------------------------------------

html {
    font-size: 62.5%;
}

body {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, sans-sefif;
    font-size: 1.6rem;
    line-height: 1.625;
    font-weight: 300;
}


//
// Headers
// --------------------------------------------------

@for $i from 1 through 6 {
    $header_size: nth($header_sizes, $i);
    .h#{$i},
    h#{$i}{
        font-size: #{$header_size}rem;
        line-height: 1.1;
    }
}


//
// Links
// --------------------------------------------------

a {
    text-decoration: none;
    transition: color 0.1s linear;

    &:link,
    &:visited {
        color: $accent;
    }

    &:hover,
    &:focus,
    &:active {
        color: $accent_dark;
    }
}


//
// Lists
// --------------------------------------------------
ul, ol {
    ul, ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

:target {
  animation: target_highlight 2s ease;
}

@keyframes target_highlight {
    from {
        box-shadow: 0px 0px 60px 50px orange, inset 0px 0px 100px 20px orange;
    }
    to {
        box-shadow: none;
    }
}