$accent: #4A90E2;
$accent_dark: darken($accent, 10%);

$black: #000000;

$grey_dark: #9B9B9B;
$grey: #B2B2B2;
$grey_light: #EDEDED;

$header_sizes: 3.6, 3.2, 2.9, 2.6, 2.3, 2.0; // h1-h6 in `rem`

$content_width: 620px;

@import "__normalize";

@import "_layout";
@import "_type";

@import "_header";
@import "_footer";
@import "_pagination";

@import "_post";
@import "_post_loop";
@import "_post_single";